{% extends 'base/body.html' %}


{% block content %}

    {% if not lineatiempos %}
        <main class="flex h-full items-center justify-center">
            <span class="loading loading-spinner loading-xs"></span>
        </main>
    {% else %}
        {% if lineatiempos %}
            {% for lineatiempo in lineatiempos %}
                <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
                    <li>
                        <div class="timeline-middle">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    class="h-5 w-5">
                                <path fill-rule="evenodd"
                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <div class="{% if forloop.counter|divisibleby:2 %}timeline-end{% else %}timeline-start{% endif %} mb-10 md:text-end">
                            <time class="font-mono italic">{{ lineatiempo.fecha }}</time>
                            <div class="text-lg font-black">{{ lineatiempo.tiutlo }}</div>
                            {{ lineatiempo.contenido }}
                        </div>
                        <hr/>
                    </li>
                </ul>

            {% endfor %}
            <div class="flex justify-center items-center">
                <a class="btn" href="{% url 'blog:crear_linea_tiempo' %}">
                    Agregar
                </a>
            </div>
        {% else %}
            no tienes
        {% endif %}

    {% endif %}

{% endblock %}