<div class="navbar bg-base-100 z-50 border border-b sticky top-0">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h8m-8 6h16"></path>
                </svg>
            </div>
            <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box  mt-3 w-52 p-2 shadow  z-50">
                <li><a href="{% url 'blog:lista_cartas' %}">Mis cartas</a></li>
                <li>
                    <a>Crear</a>
                    <ul class="p-2">
                        <li><a href="{% url 'blog:crear_carta' %}">Carta</a></li>
                        <li><a href="{% url "blog:crear_poema" %}">Poema</a></li>
                    </ul>
                </li>

                <li><a href="{% url 'blog:listar_poemas' %}">Mis poemas</a></li>
                <li><a href="{% url 'blog:lista_linea_tiempo' %}">Linea de Tiempo</a></li>
                <li><a href="{% url 'blog:buzzon' %}">Buzzon</a></li>

            </ul>
        </div>
        <a href="{% url 'blog:panel' %}" class="btn btn-ghost text-xl">BlogMajoRau</a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1  z-50">
            <li><a href="{% url 'blog:lista_cartas' %}">Mis cartas</a></li>
            <li>
                <details>
                    <summary>Crear</summary>
                    <ul class="p-2">
                        <li><a href="{% url 'blog:crear_carta' %}">Carta</a></li>
                        <li><a href="{% url "blog:crear_poema" %}">Poema</a></li>
                    </ul>
                </details>
            </li>
            <li><a href="{% url 'blog:listar_poemas' %}">Mis poemas</a></li>
            <li><a href="{% url 'blog:lista_linea_tiempo' %}">Linea de Tiempo</a></li>
            <li><a href="{% url 'blog:buzzon' %}">Buzzon</a></li>
        </ul>
    </div>
    {#  Perfil  #}
    <div class="navbar-end">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img
                            alt="Tailwind CSS Navbar component"
                            src="{{ user.profile.avatar.url }}"/>
                </div>
            </div>
            <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-50 mt-3 w-52 p-2 shadow">
                <li>
                    <a href="{% url 'blog:perfil' %}" class="justify-between">
                        Perfil
                    </a>
                </li>

                <li>
                    <button class="justify-between" onclick="logoutModal.showModal()">Salir</button>
                </li>

            </ul>
        </div>
    </div>
</div>

<dialog id="logoutModal" class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">¿Estás seguro de que deseas cerrar sesión?</h3>
        <p class="py-4">Perderás acceso hasta que vuelvas a iniciar sesión.</p>
        <div class="modal-action">
            <!-- Botón para cancelar -->
            <button class="btn" onclick="logoutModal.close()">Cancelar</button>
            <!-- Botón para confirmar -->
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-error">Cerrar sesión</button>
            </form>
        </div>
    </div>
</dialog>

