{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar</title>
    <!-- Custom fonts for this template-->
    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>


<body class="bg-custom-pattern max-w-screen">


<div class="flex flex-col justify-center items-center min-h-screen">

    <section class="flex flex-col justify-center items-center space-y-2">

        <div class="card bg-base-100 w-96 shadow-xl">
            <div class="card-body">
                <h2 class="card-title text-center">Bienvenido!</h2>
            </div>
        </div>


        <form class="card bg-base-100 w-96 shadow-xl" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Usuario</span>
                    </label>
                    {{ form.username }}
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Contraseña</span>
                    </label>
                    {{ form.password }}
                </div>
                <div class="mb-5">
                    <div class="col-md-10 offset-md-1">
                        <div class="form-group">
                            <!-- Add a Remember me functionality -->
                            {{ form.remember_me }}
                            <label> Remember me</label>
                        </div>
                    </div>
                </div>
                <div class="card-actions">
                    <button type="submit"
                            class="btn btn-primary">
                        Entrar
                    </button>

                </div>
            </div>


        </form>

        {% if form.errors %}
            <section class="  mx-auto flex justify-center items-center w-full">
                 {% for key, value in form.errors.items %}
                <div role="alert" class="alert alert-error">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 shrink-0 stroke-current"
                            fill="none"
                            viewBox="0 0 24 24">
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M10 14l2-2m0 0l2-2m-2
                2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                    <span>{{ value }}</span>
                </div>
              {% endfor %}
            </section>
        {% endif %}


    </section>
</div>


</body>
</html>